apiVersion: 1

datasources:
  - name: influxdb2-flux
    type: influxdb
    access: proxy
    url: http://influxdb2:8086
    jsonData:
      version: Flux
      organization: {{ INFLUXDB2_ORG }}
      defaultBucket: {{ INFLUXDB2_BUCKET }}
      tlsSkipVerify: true
    secureJsonData:
      token:  {{ INFLUXDB2_TOKEN }}
